body
{
    background: coral;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 49vh;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}